body {
  overflow-x: hidden;
}

.navbar-items {
  display: flex;
  /* justify-content: space-around; */
  padding: 24px;
  background-color: rgb(196, 190, 190);
  /* border: 2px dotted black; */
  justify-content: space-evenly;

  font-size: x-large;
}

.navbar-items:hover {
  background-color: rgb(17, 226, 164);
}

.navbar-line {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */

  animation: glow infinite 2s linear;
}

@keyframes glow {
  from {
    background-color: black;
  }
  to {
    background-color: red;
  }
}

.discount-bar {
  display: flex;
  /* justify-content: center; */
  font-size: 2rem;
  padding: 12px;
  position: relative;

  /* top: 5px; */
  left: 10px;

  animation: discount-bar infinite 5s linear;
  animation-fill-mode: ease-out;
}

@keyframes discount-bar {
  0% {
    color: black;
    left: 0vw;
  }

  25% {
    color: rgb(12, 236, 12);
    left: 30vw;
  }

  50% {
    color: blue;
    left: 60vw;
  }

  75% {
    color: red;
    left: 90vw;
  }

  100% {
    color: rgb(235, 10, 205);
    left: 0vw;
  }
}

.first-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-image: linear-gradient(to right, red, white);
  overflow: hidden;
}

@keyframes first-container {
  0% {
    color: black;
  }

  50% {
    color: white;
    transform: scale(3px);
  }

  100% {
    color: black;
  }
}

.first {
  /* background-color: aqua; */
  height: 25vh;
  width: 33vh;
  margin-left: 12px;
  /* align-items: center; */

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  animation-name: first-container;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.second {
  /* background-color: aqua; */
  height: 25vh;
  width: 33vh;

  display: flex;
  gap: 12px;
  justify-content: center;
  position: relative;
  align-items: center;
  /* text-transform: capitalize; */

  /* animation: second-animation 1s; */
}

.second-text {
  animation: second-animation 2s;
  /* animation-iteration-count: infinite; */
  transform: rotate(20deg);
  font-size: 3rem;

  /* animation-timing-function: ease-in; */
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation-timing-function: linear;
}

@keyframes second-animation {
  from {
    color: white;
    transform: rotate(0deg);
    scale: 100px;
  }

  to {
    color: black;
    transform: rotate(360deg);
    scale: 100% 1;
  }
}

.third {
  /* background-color: aqua; */
  height: 25vh;
  width: 33vh;
  margin-left: 12px;

  display: flex;

  text-align: center;
  justify-content: center;
  font-size: 10rem;
  align-items: center;
  overflow: hidden;

  /* left: 10px; */
  position: relative;

  animation: to-right 4s linear infinite;
}

@keyframes to-right {
  0% {
    color: white;
    left: 10px;
  }

  50% {
    color: red;
    left: 300px;
  }

  100% {
    left: 10px;
    color: rgb(19, 3, 3);
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  background-color: black;
  width: 100vw;

  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  0% {
    filter: hue-rotate(360deg);
  }
}

.image {
  height: 50vh;
  width: 50vw;
  border-radius: 10%;
}

.cards {
  display: flex;
  justify-content: space-between;
  /* border: 12px solid black; */

  flex-wrap: wrap;
}

.card-1 {
  border: 12px solid black;
  height: 20vh;
  width: 45vw;
  position: relative;
  top: 10vh;
  margin-bottom: 12px;
  background-color: bisque;

  animation: ram 3s;
  /* animation-iteration-count: infinite; */
  /* animation-delay: 2s; */
}
@keyframes ram {
  from {
    /* translate: 100vh 0; */
    scale: 100% 1;
    rotate: 90deg;
  }

  to {
    /* translate: 1vw 0; */
    rotate: 0deg;
  }
}

.card-2 {
  border: 12px solid black;
  height: 20vh;
  width: 45vw;
  position: relative;
  top: 10vh;
  background-color: gold;

  animation: ram 3s;
  animation-delay: 2s;
  /* animation-iteration-count: infinite; */
}

.card-3 {
  border: 12px solid black;
  height: 20vh;
  width: 45vw;
  position: relative;
  top: 10vh;
  background-color: azure;

  animation: ram 3s;
  animation-delay: 3s;
  /* animation-iteration-count: infinite; */
}

.card-4 {
  border: 12px solid black;
  height: 20vh;
  width: 45vw;
  position: relative;
  top: 10vh;
  background-color: burlywood;

  animation: ram 3s;
  animation-delay: 4s;
  /* animation-iteration-count: infinite; */
}

.card-5 {
  border: 12px solid black;
  height: 20vh;
  width: 45vw;
  position: relative;
  top: 10vh;
  background-color: burlywood;
  margin-top: 12px;

  animation: ram 3s;
  animation-delay: 6s;
  /* animation-iteration-count: infinite; */
}

.card-6 {
  border: 12px solid black;
  height: 20vh;
  width: 45vw;
  position: relative;
  top: 10vh;
  background-color: burlywood;
  margin-top: 12px;

  animation: ram 3s;
  animation-delay: 8s;
  /* animation-iteration-count: infinite; */
}
